body {
	overflow: hidden;
}
.content {
  overflow: hidden;
}

/*CONTROL CLASSES*/
.single-pg {
  display: none;
  opacity: 0;
}
.single-pg.currently-visible {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
}
